/**
 * Created by Raphael Karanja on 06/09/2018.
 */
@import "main/main";
@import "auth/auth";
@import "users/users";
@import "vuetable/v-table";
@import "vuetable/lib_table";
@import "externals";

.lib_body {
  padding: 75px 20px 20px 20px;

  background: #eeeeee;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  width: calc(100% - 250px);
  margin-left: 250px;
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .footer {
    height: 55px;
    bottom: 0;
    padding: 15px;
    background: #ffffff;
  }
}