/**
 * Created by Raphael Karanja on 06/09/2018.
 */
@import "main/main";
@import "auth/auth";

.lib_body {
  padding: 65px 20px 20px 20px;

  background: #f4f7fb;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  width: calc(100% - 230px);
  margin-left: 230px;
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .footer {
    height: 55px;
    bottom: 0;
    padding: 15px;
    background: #ffffff;
  }
}