/**
 * Created by Raphael Karanja on 07/09/2018.
 */
.sidebar {
  width: 230px;
  top: 55px;
  position: absolute;
  bottom: 0;
  left: 0;

  .menu {
    li {
      a {
        color: #4a4a4a;

        &:hover {
          background: #9b9b9b;
          border-left: 3px solid #206e6a;
          padding-left: calc(1rem - 3px);
        }
      }
    }
  }
}