/**
 * Created by Raphael Karanja on 06/09/2018.
 */
.login {
  //display: flex;
  //justify-content: center;
  //align-items: center;
  padding-top: 150px;

  &__card {
    max-width: 500px;
    min-width: 300px;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: rgba(232, 237, 250, 0.6) 0px 0px 8px 0px, rgba(232, 237, 250, 0.5) 0px 2px 4px 0px;
    padding: 20px;
    margin: 0 auto;

    form {
      input {
        height: 35px;
        border-radius: 3px;
      }

      button {
        border-radius: 3px;
        padding: 10px;
        width: 50%;
        align-content: center;
      }
    }
  }
}