/**
 * Created by Raphael Karanja on 08/09/2018.
 */
.pagination {
  margin: 0;
  float: right;
}
.pagination a.page {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.page.active {
  color: white;
  background-color: #337ab7;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 10px;
  margin-right: 2px;
}
.pagination a.btn-nav {
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
}
.pagination a.btn-nav.disabled {
  color: lightgray;
  border: 1px solid lightgray;
  border-radius: 3px;
  padding: 5px 7px;
  margin-right: 2px;
  cursor: not-allowed;
}
.pagination-info {
  float: left;
}
.table_top_bar {
    display:  inline-flex;
    width: 100%;
    position: relative;

    .top_bar_details {

        padding: 0 10px 0 10px;
        margin: 5px;

        .table_title {
        }

        .table_sub_title {
        }
    }

    .top_bar_search {
        margin-left: auto;
        margin-right: 10px;
        width: 60%;
        float: right;
        min-height: 35px;
        .table_search {
            position: relative;
            width: 100%;
            display: block;

            .search_button {
                position: absolute;
                right: 0;
            }
        }

        .search_form {
            left: 0;
            padding-right: 60px;
            -webkit-animation: slide 0.9s forwards;
            -webkit-animation-delay: 2s;
            animation: slide 0.9s forwards;
            animation-delay: 2s;

            @at-root {
                @-webkit-keyframes search_form_slide {
                    100% { left: 0; }
                }

                @keyframes search_form_slide {
                    100% { left: 0; }
                }
            }

            input {
                margin: 0px;
                height: 30px;
                box-shadow: none;
                border: 1px solid #e0e0e0;
                line-height: 30px;
            }

            input:focus, input:hover {
                outline: none;
                border: 1px solid #bdbdbd;
            }


        }

        .slide-fade-enter-active {
            transition: all .3s ease;
        }
        .slide-fade-leave-active {
            transition: all .8s cubic-bezier(1.0, 0.5, 0.2, 1.0);
        }
        .slide-fade-enter, .slide-fade-leave-to {
            transform: translateX(100px);
            opacity: 0;
        }

    }
}
.top_bar_search {
    margin-left: auto;
    margin-right: 10px;
    width: 60%;
    float: right;
    min-height: 35px;
    .table_search {
        position: relative;
        width: 100%;
        display: block;

        .search_button {
            position: absolute;
            right: 0;
        }
    }

    .search_form {
        left: 0;
        padding-right: 60px;
        -webkit-animation: slide 0.9s forwards;
        -webkit-animation-delay: 2s;
        animation: slide 0.9s forwards;
        animation-delay: 2s;

        @at-root {
            @-webkit-keyframes search_form_slide {
                100% { left: 0; }
            }

            @keyframes search_form_slide {
                100% { left: 0; }
            }
        }

        input {
            margin: 0px;
            height: 30px;
            box-shadow: none;
            border: 1px solid #e0e0e0;
            line-height: 30px;
        }

        input:focus, input:hover {
            outline: none;
            border: 1px solid #bdbdbd;
        }


    }

    .slide-fade-enter-active {
        transition: all .3s ease;
    }
    .slide-fade-leave-active {
        transition: all .8s cubic-bezier(1.0, 0.5, 0.2, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to {
        transform: translateX(100px);
        opacity: 0;
    }

}
