/**
 * Created by Raphael Karanja on 10/09/2018.
 */
.profile {
  display: flex;
  width: 100%;
  margin-top: 20px;
  background: #fff;
  padding: 10px;

  &__avatar {
    width: 40%;
    img {
      border-radius: 5px;
      height: 200px;
      width: 200px;
    }
  }

  &__details{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    .head {
      display: flex;
      flex-direction: column;
      button {
        width: 100px;
      }
      h3 {
        border-bottom: 1px solid #eeeeee;
      }
    }

    .description {
      display: flex;
      flex-direction: column;

      &__item {
        display: flex;
        justify-content: flex-start;
        margin: 10px 0;
        span{
          &:first-child {
            font-weight: 600;
            width: 30%;
          }
          width: 70%;
        }
      }
    }
  }
}