/**
 * Created by Raphael Karanja on 10/09/2018.
 */
.profile {
  display: flex;
  width: 100%;
  margin-top: 20px;


  &__avatar {
    width: 40%;
    img {
      border-radius: 5px;
    }
  }

  &__details{
    width: 60%;
    display: flex;
    flex-direction: column;
  }
}